{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "register-content">
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <center><legend class = "border-bottom mb-4 head-text">Log In</legend></center>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group button-submit">
                <center>
                    <button class = "btn btn-danger" type = "submit">Login</button>
                </center>
            </div>
        </form>
        <div class = "border-top pt-3">
            <small class = "text-small">
                Need an Account? <a class = "ml-2" href="{% url 'register' %}">Sign Up Now!</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}