{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "register-content">
    <div class = "content-section">
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <center><legend class = "border-bottom mb-4 head-text">Create an Event</legend></center>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group button-submit">
                <center>
                    <button class = "btn btn-danger" type = "submit">Create</button>
                </center>
            </div>
        </form>
    </div>
</div>
{% endblock %}