{% extends 'home/base.html' %}
{% block content %}
<div class = "register-content">
    <div class = "content-section">
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <center><legend class = "border-bottom mb-4 head-text">Delete the Event</legend></center>
                <center><h2 class = "delete-text">Are you sure that you want to delete the event "{{ object.title }}" ?</h2></center>
            </fieldset>
            <div class = "form-group button-submit">
                <center>
                    <button class = "btn btn-danger" type = "submit">Yes, Delete!</button>
                    <a class = "btn btn-secondary" href = "{% url 'event-detail' object.id %}">Cancel</a>
                </center>
            </div>
        </form>
    </div>
</div>
{% endblock %}